
# WARNING: this configuration is only safe if a boot level authentication is in
# place (like full disk encryption passphrase prompt) !!!
# See: https://wiki.archlinux.org/index.php/getty#Virtual_console

# Automatic login on tty1
[Service]
Type=simple
TTYVTDisallocate=no
ExecStart=
{# The login name has to be provided using the "used_name" Ansible variable #}
ExecStart=-/usr/bin/agetty --autologin {{ user_name }} --noclear %I 38400 $TERM


