{# BEGIN ANSIBLE VARIABLE SECTION #}

    # FIXME some comments ?
    colors {
        # status line text, background and separator
        statusline {{ i3bar.statusline }}
        background {{ i3bar.background }}
        separator  {{ i3bar.separator }}
        # focused workspace indicator border, background and text
        focused_workspace   {{ i3bar.focusedworkspaceborder }} \
                            {{ i3bar.focusedworkspacebackground }} \
                            {{ i3bar.focusedworkspacetext }}
        # inactive workspace indicator border, background and text
        inactive_workspace  {{ i3bar.inactiveworkspaceborder }} \
                            {{ i3bar.inactiveworkspacebackground }} \
                            {{ i3bar.inactiveworkspacetext }}
        # active workspace indicator border, background and text
        active_workspace    {{ i3bar.activeworkspaceborder }} \
                            {{ i3bar.activeworkspacebackground }} \
                            {{ i3bar.activeworkspacetext }}
        # urgent workspace indicator border, background and text
        urgent_workspace    {{ i3bar.urgentworkspaceborder }} \
                            {{ i3bar.urgentworkspacebackground }} \
                            {{ i3bar.urgentworkspacetext }}
        # binding mode indicator message border, background and text
        binding_mode        {{ i3bar.bindingmodeborder }} \
                            {{ i3bar.bindingmodebackground }} \
                            {{ i3bar.bindingmodetext }}
    }
{# END ANSIBLE VARIABLE SECTION #}
