/*
 * rofi configuration file
 */

{# BEGIN ANSIBLE VARIBLE SECTION #}
    /* This line will automatically be replaced by "select_theme" script.  In
     * consequence, it is better if it is kept at the end of the configuration
     * file.
     */
	rofi.theme: {{ theme_dir }}/rofi_theme_{{ selected_theme }}.rasi
{# END ANSIBLE VARIBLE SECTION #}

